body {

	background-color: #31363D;
	color: #E0E2E4;
	font-family: 'Hack', monospace;
	font-size: 1em;
}

nav {

	width: 30%;
}

nav ul {

	list-style-type: none;
	float: right;
	margin-top: 0em;
}

main {

	width: 99%;
	float: left;
	display: flex;
	position: absolute;
	justify-content: center;
	z-index: -1;
}

main div {

	width: 30%;
}

main > * {

    display: none;
}

main > *:last-child {

    display: block;
}

main > *:target {
    
    display: block;
}

main > *:target ~ * {

    display: none;
}

a {

	text-decoration: none;
	color: #678CB1;
}

h3 {

	margin-top: 0px;
	margin-bottom: .5em;
}

article {

	text-align: center;
}

.headerContainer {

	display: flex;
	width: 100%;
	justify-content: center;
}

.selected {

	color: #82677E;
}

.selected::before {

	content: "//";
	position: absolute;
	float: left;
	margin-left: -1.25em;
	color: #E0E2E4;
	font-size: .75em;
	margin-top: .15em;
}

.blog {

	width: 30%;
}

@media screen and (max-width : 760px) {

	body {

		font-size: 4vmin;
	}

	main {

		margin-left: 0;
		position: relative;
	}

	main div {

		width: auto;
	}

	nav {

		width: 100%;
	}
	
	nav ul {

		float: none;
		display: flex;
		padding: 0px;
		justify-content: space-around;

	}

	ul li {

		padding-right: 0px;
	}

	.selected::before {

		margin-left: -4vmin;
		font-size: 3vmin;
		margin-top: .5vmin;
	}

	.blog {

		width: 100%;
	}
}